.form{
    width: 100%;
    border: 2px solid grey;
    padding: 2em;
    border-radius: 5px;
    background-color: black;
}
.form .form-cont{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.form .form-cont input{
    margin: 1em 0;
    padding: 10px;
    outline: none;
    border: none;
}
.form button:disabled{
    background-color: rgba(44, 44, 44, 0.329);
    color: rgba(255, 255, 255, 0.219);
}